.standards-has-subgraph {
  margin-top: 40px;
  .child-standard-has-subgraph {
    border-top: 1px solid #d9d7d1;
    border-right: 1px solid #d9d7d1;
  }
}

.button-hs-has-childs {
  margin-bottom: 40px;
}

.child-standards  {
  .collapse-header {
    h3 {
      color: #50524f !important;
    }
  }
}