@mixin excerpt($font-size: 12px, $line-height: 1.4, $lines-to-show: 3, $excerpt-bg: transparent) {
  background: $excerpt-bg;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  // max-height: $font-size*$line-height*$lines-to-show + 5; /* Fallback for non-webkit */
  height: 70.72px;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  @-moz-document url-prefix() {
    overflow: hidden;
    position: relative;
    &:before {
      background: $excerpt-bg;
      bottom: 5px;
      position: absolute;
      right: 0px;
      float: right;
      content: '\2026';
      margin-left: 5px;
      width: 10px;
      text-align: right;
    }
    &:after {
      content: '';
      background: $excerpt-bg;
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1;
    }
  }
}

.modeling-tasks-page {
  .task-list {
    width: 921px;
    margin: 78px auto 0;

    .top-container {
      position: relative;
      border-bottom: 2px solid #d8d8d8;
      padding-bottom: 12px;

      display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
      display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: -webkit-flex;     /* NEW - Chrome */
      display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

      justify-content: space-between;
      -moz-justify-content: space-between;
      -webkit-justify-content: space-between;

      -webkit-align-items: center;
      align-items: center;

      .number-tasks {
        font-family: museo_sans300;
        font-size: 26px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.15;
        letter-spacing: 0.1px;
        font-weight: 300;
      }
      .type-view-options{
        display: flex;
        button {
          margin-top: 0;
          background: #fff;
          width: 40px;
          height: 40px;
          border: 1px solid #d8d8d8;
          padding: 10px;
          &:hover {
            background: #f2faf6;
          }
          &.active {
            background: #f2faf6;
            border-color: #58a569;
            position: relative;
            z-index: 1;
          }

          & + button {
            margin-left: -1px;
          }

          // img {
          //   max-width: 100%;
          //   width: 18px;
          // }
        }
        .list {
          
        }
        .grid {
          
        }
      }
    }
    .content-container {
      .course-block {
        margin-top: 50px;
        margin-bottom: 70px;
        &:last-of-type {
          margin-bottom: 0;
        }
        .course-items {
          .course-item {
            min-height: 97px;
            background-color: #f8f8f8;
            padding: 30px;
            border: 1px solid #d8d8d8;
            margin-bottom: 26px;

            //
            display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
            display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
            display: -ms-flexbox;      /* TWEENER - IE 10 */
            display: -webkit-flex;     /* NEW - Chrome */
            display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

            justify-content: space-between;
            -moz-justify-content: space-between;
            -webkit-justify-content: space-between;

            .course-info {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 70%;
              flex: 0 0 70%;
              .source-info {
                margin: 0;
                margin-top: 5px;
                font-family: museo_sans500;
                font-size: 10px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.5;
                letter-spacing: 0.2px;
                font-weight: 500;

                a {
                  color: #2a7251;
                  margin-left: 5px;
                }
              }
              .des-course {
                font-family: museo_sans300;
                font-size: 12px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.58;
                letter-spacing: 0.1px;
                font-weight: 300;
              }
            }
            .more-info {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 30%;
              flex: 0 0 30%;
              text-align: right;
              line-height: 3;

              .readmore {
                font-family: museo_sans300;
                color: #2a7251;
                border-bottom: 1px solid #2a7251;
                margin-right: 25px;
                cursor: pointer;
                font-size: 12px;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.25;
                letter-spacing: 0.1px;
                text-align: center;
                font-weight: 300;
              }
              .download-btn {
                min-width: 144px;
                text-align: center;
                background: #2a7251;
                color: white;
                display: inline-block;
                font-family: museo_sans300;
                font-size: 12px;
                font-style: normal;
                font-stretch: normal;
                letter-spacing: 0.1px;
                height: 40px;
                line-height: 40px;
                cursor: pointer;
                font-weight: 300;
                text-decoration: none;

                i.icon-down {
                  width: 10px;
                }
              }
            }
          }
          
        }

        &.grid {
          .course-items {
            .course-item {
              width: 446px;
              display: inline-block;
              height: 260px;
              position: relative;

              &:nth-of-type(2n+1) {
                margin-right: 29px;
              }
              .course-info {
                .description-wrap {
                  // height: 150px;
                  overflow: hidden;
                  margin-bottom: 60px;
                }
                .des-course {
                 @include excerpt(12px, 1.58, 7, #f8f8f8);
                }
              }
              .more-info {
                margin-top: 24px;
                position: absolute;
                bottom: 25px;
                display: inline-block;
                width: calc(100% - 60px);
                .download-btn {
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }

  h3 {
    font-family: museo_sans300;
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: 0.1px;
    margin: 0;
    font-weight: 300;
  }

  h4 {

    &.section-name {
      font-family: museo_sans500;
      font-size: 18px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: 0.1px;
      font-weight: 500;
    }
  }

  h2 {
    font-family: museo_sans300;
    font-size: 42px;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.76;
    letter-spacing: 0.3px;
    text-align: center;
    font-weight: 300;

    &.page-name {
      margin-bottom: 35px;
      margin-top: 75px;
    }
  }

  .tasks-header {
    width: 595px;
    margin: 0 auto;

    p {
      font-family: museo_sans300;
      font-size: 14px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.86;
      letter-spacing: normal;
      // text-align: center;
      font-weight: 300;
      .mailto {
        color: #000000;
      }
    }
  }

}

.bottom-container {
  text-align: center;
  margin: 60px 0;
  .node {
    button {
      width: auto;
      margin: 0 auto;
      min-width: 260px;
      display: inline-block;
    }
  }
}